<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet để dùng Firebase -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Location permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- Background location (nếu tracking khi app nền) -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <!-- Foreground service cho tracking -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Location"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Location">

        <!-- Google Maps API KEY -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAAT4wRw7IsVGlIRxBUzV8ElQrC8jKeSOA" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Location"
            android:theme="@style/Theme.Location">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <service
            android:name=".service.LocationService"
            android:foregroundServiceType="location"
            android:exported="false" />

    </application>

</manifest>